{% extends "teacher_client/base.html" %}

{% block title%}
	home
{% endblock%}

{% block module_name %}home{% endblock %}

{% block teacher_name %}{{teacher_name}}{% endblock %}

{% block content %}
	<div
		class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
		<ul class="demo-list-item mdl-list">
			  <li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      可能会失联的学生有:
			    </span>
			  </li>
			 {% for student_num in student_nums %}
		      <li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      {{student_num}}
			    </span>
			  </li>
			 {% endfor %}
		</ul>
	</div>

	{% load static %}
	<div
		class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
		<img width=100% height=100% src="{%static 'teacher_client/images/pie_chart.png' %}"/>
		<img width=100% height=100% src="{%static 'teacher_client/images/broken_line_chart.png' %}"/> 
	</div>
	
{% endblock %}