<html><head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>select选择-按钮跳转</title> 
<script type="text/javascript"> 
function setsubmit() 
{ 
if(mylink.value == 0) 
	window.location='Single_student'; 
if(mylink.value == 1 & mylink2.value == 2) 
	window.location='zhexian_fig'; 
if(mylink.value == 1 & mylink2.value == 3) 
	window.location='bingzhuang_fig';
if(mylink.value == 1 & mylink2.value == 4) 
	window.location='show_infos';
} 
</script> 
</head> 
<body> 
<select name="mylink" id="mylink"> 
<OPTION value="0">查询单个学生的信息</OPTION> 
<OPTION value="1">查询所有学生的信息</OPTION> 
</select>
<select name="mylink2" id="mylink2"> 
<OPTION value="2">折线图</OPTION> 
<OPTION value="3">饼状图</OPTION> 
<OPTION value="4">列表形式</OPTION>
</select>
<input type="button" id="btn" value="提交" onclick="setsubmit(this)" /> 
</body> 
</html> 


