<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>
</head>
<body>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'student_client/style.css' %}" />
	<h4>
		<font size="4" color="black">{{title}}</font><Br/>
	</h4>
	<form action="show_student" method="post">
		{% csrf_token %}
		<h4>
			<font size="5" color="blue">student_num:</font><input type="text" name="student_num" /><Br/>
			&nbsp;&nbsp;&nbsp;<font size="5" color="blue">school_year:</font><input type="text" name="year"/><Br/>
			<font size="4" color="red">{{result}}</font><Br/>
			<!-- <input type="submit" name="提交" /> -->
			<button class="btn" type="submit" value="提交" style="background:#00ff00" >提交</button>
			<button class="btn" type="reset" value="重置" style="background:#ffff33">Reset</button>
		</h4>
	</form>
</body>
</html>
