{% extends "teacher_client/base.html" %} 
{% block title%} 智慧校园-失联预警 {%endblock%} 
{% block module_name %}失联预警{% endblock %} 
{% block teacher_name %}{{teacher_name}}{% endblock %} 
{% block index_state %}{%endblock %} 
{% block score_forcasting %}{% endblock %} 
{% block missing_warning %}style="color:white;"{% endblock %} 
{% block scholarship_forcasting %}{% endblock %} 
{% block subsidy_forcasting %}{%endblock %} 
{% block wired_person%}{%endblock %} 
{% block content %} 
{% load static %}
<div
	class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

	<ul class="demo-list-item mdl-list">
		<li class="mdl-list__item"><span
			class="mdl-list__item-primary-content"> 可能会失联的学生有: </span></li> 
			<table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
			  <tbody>
			  <thead>
			      <td>学号</td>
			      <td>姓名</td>
			      <td>可能失联的原因</td>
			    </thead>
				{% for student in missing_students %}
			    <tr onclick="javascript:window.open('/teacher_client/student_info?student_num={{student.0}}')">
			      <td>{{student.0}}</td>
			      <td>{{student.1}}</td>
			      <td>{{student.2}}</td>
			    </tr>
				{% endfor %}
			  </tbody>
			</table>
	</ul>
</div>
{% endblock %} 
{% block update %}missing_warning{% endblock %}
