{% extends "teacher_client/base.html" %} 
{% block title%} 智慧校园-成绩预测 {%endblock%} 
{% block module_name %}成绩预测(可信度:{{precision}}){% endblock %} 
{% block teacher_name %}{{teacher_name}}{% endblock %} 
{% block index_state %}{%endblock %} 
{% block score_forcasting %}style="color:white;"{% endblock%} 
{% block missing_warning %}{% endblock %} 
{% block scholarship_forcasting %}{% endblock %} 
{% block subsidy_forcasting %}{%endblock %} 
{% block wired_person%}{%endblock %} 
{% block content %} {% load static %}
<div
	class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" style="height:100%">
	{{feature_scores_and_ranges}}
	{{score_pie_chart}}
</div>
<div
	class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
	<div
		class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
		<div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
			<h2 class="mdl-card__title-text">可能挂科的同学：</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			<div style="width: 100%; height: 350px;">
				<div style="height: 80%; overflow: scroll; overflow-x: hidden;">
					<ul class="demo-list-item mdl-list">
						{% for class_fail_student_num in class_fail_student_nums %}
						<li class="mdl-list__item"><span
							class="mdl-list__item-primary-content">
								{{class_fail_student_num}} </span></li> {% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read
				More</a>
		</div>
	</div>
	<div class="demo-separator mdl-cell--1-col"></div>
	<div
		class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
		<div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
			<h3>成绩预测结果：</h3>
			<div style="width: 100%; height: 400px;overflow:scroll;overflow-x:hidden;">
				<table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" style="width:300px;">
				  <tbody>
				  <thead>
				      <td>学号</td>
				      <td>成绩</td>
				    </thead>
					{% for student_and_score in students_and_scores %}
				    <tr style="width:300px;" onclick="javascript:window.open('http://baidu.com')">
				      <td style="width:50%;text-overflow :ellipsis">{{student_and_score.0}}</td>
				      <td style="width:50%;text-overflow :ellipsis">{{student_and_score.1}}</td>
				    </tr>
					{% endfor %}
				  </tbody>
				</table>
			</div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#"
				class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change
				location</a>
			<div class="mdl-layout-spacer"></div>
			<i class="material-icons">location_on</i>
		</div>
	</div>
</div>
{% endblock %} {% block update %}score_forcasting{% endblock %}
