<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>show_student_info</title>
</head>
<body>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'student_client/style.css' %}" />
	<!--  <div class="headr">-->
	<h1>
	<font size="5" color="blue"> 
		<span class="jiacu">{{student_name}},你好,以下你的信息:</span><br/>
	</font>
	</h1>
<table border="2" align="center">
  <tr>
    <th>student_num</th>
    <th>student_name</th>
    <th>score_rank</th>
    <th>score</th>
  </tr>
  <tr>
    <td height="50" weight="100"  style="text-align:center;vertical-align:middle;">{{student_num}}</td>
    <td height="50" weight="100"  style="text-align:center;vertical-align:middle;">{{student_name}}</td>
    <td height="50" weight="100"  style="text-align:center;vertical-align:middle;">{{score_rank}}</td>
    <td height="50" weight="100"  style="text-align:center;vertical-align:middle;">{{score}}</td>
  </tr>
</table>
</body>
</html>

