<div style="width: 100%; padding: 0; margin: 0; height: 600px;"
	id="{{chart_name}}"></div>
<script>
	var myChart = echarts.init(document.getElementById('{{chart_name}}'));
	myChart.showLoading();
	var my_data={{my_data|safe}}; 
	myChart.hideLoading();
	myChart.setOption(option = {
			title : {
		        text: '{{chart_name}}',
		        x:'center'
		    },
		    tooltip : {
		        trigger: 'item',
		        formatter: "{a} <br/>{b} : {c} ({d}%)"
		    },
		    series : [
		        {
		            name: '预测结果',
		            type: 'pie',
		            radius : '55%',
		            center: ['50%', '60%'],
		            data:my_data.sort(function (a, b) { return a.value - b.value; }),
		            itemStyle: {
		                emphasis: {
		                    shadowBlur: 10,
		                    shadowOffsetX: 0,
		                    shadowColor: 'rgba(0, 0, 0, 0.5)'
		                }
		            }
		        }
		    ]
		});
</script>
