{%extends "student_client/base.html"%} 
{% block title %} HOME {%endblock %} 
{% block module_name %}
<span style="font-size: 24px; color: blue;">用户个人信息页</span>&nbsp&nbsp
<span style="font-size: 24px; color: blue;">姓名:{{student_name}}&nbsp&nbsp学生类别:{{student_type}}&nbsp&nbsp学年:{{school_year}}</span>
{% endblock %} 
{% block content %} 
{% load static%}
<!--  <div id = "main" style="width: 1200px;height: 800px;"></div>
<script src='https://cdn.bootcss.com/echarts/3.7.0/echarts.simple.js'></script>
 <script type="text/javascript" src ={%static 'student_client/js/echarts-wordcloud.min.js' %} ></script>
  <script type="text/javascript">
		var dic={{result|safe}};
		var arr=new Array()
		var JosnList = [];
		for(i in dic) {
			var temp={value:dic[i],name:i};
			JosnList.push(temp)
			arr[i]=dic[i]*100
		}
		/*JosnList.push({
		    name: "Jayfee",
		    value: "666"
		}, {
		    name: "Nancy",
		    value: "520"
		}, {
		    name: "生活资源",
		    value: "999"
		}, {
		    name: "供热管理",
		    value: "888"
		}, {
		    name: "供气质量",
		    value: "777"
		}, {
		    name: "生活用水管理",
		    value: "688"
		}, {
		    name: "一次供水问题",
		    value: "588"
		}, {
		    name: "交通运输",
		    value: "516"
		}, {
		    name: "城市交通",
		    value: "515"
		}, {
		    name: "环境保护",
		    value: "483"
		}, {
		    name: "房地产管理",
		    value: "462"
		}, {
		    name: "城乡建设",
		    value: "449"
		}, {
		    name: "社会保障与福利",
		    value: "429"
		}, {
		    name: "社会保障",
		    value: "407"
		}, {
		    name: "文体与教育管理",
		    value: "406"
		}, {
		    name: "公共安全",
		    value: "406"
		});*/
		//var maskImage = new Image();
		//maskImage.src = '{%static 'student_client/images/love.jpg'%}';
    	option = {
    	    title: {
    	        text: '热点分析',
    	        x: 'center',
    	        textStyle: {
    	            fontSize: 23
    	        }

    	    },
    	    backgroundColor: '#F7F7F7',
    	    tooltip: {
    	        show: true
    	    },
    	    /*toolbox: {
    	        feature: {
    	            saveAsImage: {
    	                iconStyle: {
    	                    normal: {
    	                        color: '#FFFFFF'
    	                    }
    	                }
    	            }
    	        }
    	    },*/
    	    series: [{
    	        name: '特征分析',
    	        type: 'wordCloud',
    	       // maskImage: maskImage,
    	        //size: ['9%', '99%'],
    	        //sizeRange: [6, 66],
    	        //textRotation: [0, 45, 90, -45],
    	        //rotationRange: [-45, 90],
    	        //shape: 'circle',
    	        textPadding: 5,
    	       /* autoSize: {
    	            enable: true,
    	            minSize: 6
    	        },*/
    	        textStyle: {
    	            normal: {
    	                color: function() {
    	                    return 'rgb(' + [
    	                        Math.round(Math.random() * 160),
    	                        Math.round(Math.random() * 160),
    	                        Math.round(Math.random() * 160)
    	                    ].join(',') + ')';
    	                }
    	            },
    	            /*emphasis: {
    	                shadowBlur: 10,
    	                shadowColor: '#333'
    	            }*/
    	        },
    	      
    	    }]
    	};

    	option.series[0].data = JosnList;
    	var myChart = echarts.init(document.getElementById('main'));
    	//maskImage.onload = function() {
    	    myChart.setOption(option);
    	//};
    </script>-->
<div>
{{student_info}}
</div>
<div
	class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing"
	style="width: 525px; height: 300px;">
	<div
		class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop"
		style="height: 325px;">
		<div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
			<h2 class="mdl-card__title-text">Updates</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			Non dolore elit adipisicing ea reprehenderit consectetur culpa.</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read
				More</a>
		</div>
	</div>
	<div class="demo-separator mdl-cell--1-col"></div>
</div>
<div
	class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing"
	style="width: 520px;">
	<div
		class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
		<div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
			<h3>View options</h3>
			<ul>
				<li><label for="chkbox1"
					class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
						<input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
						<span class="mdl-checkbox__label">Click per object</span>
				</label></li>
				<li><label for="chkbox2"
					class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
						<input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
						<span class="mdl-checkbox__label">Views per object</span>
				</label></li>
				<li><label for="chkbox3"
					class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
						<input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
						<span class="mdl-checkbox__label">Objects selected</span>
				</label></li>
				<li><label for="chkbox4"
					class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
						<input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
						<span class="mdl-checkbox__label">Objects viewed</span>
				</label></li>
			</ul>
		</div>
		<div class="mdl-card__actions mdl-card--border" style="height: 137px;">
			<a href="#"
				class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change
				location</a>
			<div class="mdl-layout-spacer"></div>
			<i class="material-icons">location_on</i>
		</div>
	</div>
</div>
{% endblock %}